<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/ncats"
            factory-class="gov.nih.ncats.knime.lychi.LychiResolverNodeFactory"
            id="gov.nih.ncats.knime.lychi.LychiResolverNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category
            icon="icons/ncats-chevon.png"
            level-id="ncats"
            locked="false"
            name="NCATS/NIH"
            path="/community">
      </category>
   </extension>
</plugin>
